.banner_acidez{
  background-size: cover;
  padding: 11%;
  color: white;
  background-color: #007940;
  
}
.banner_acidez h1{
  color: white;
  background-color: #007940;
  width: 5em;
  font-size: 340%;
  padding: 5px !important;
}
.h1a{
  color: white;
  background-color: #007940;
  width: 4em !important;
  padding: 5px !important;
  
}


.banner_acidez a{
  background-color: #ED1D24;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  padding: 6px!important;
  width: 14em;
}

.banner_acidez a:hover {
  color: #007940!important;

}

.cards-acidez h2{
  color: #007940;
  font-size: large;
}
.cards-acidez p{
  font-family: 'Open Sans', sans-serif; 
  font-weight: 300!important;
}
.p-empresa{
  font-family: 'Open Sans', sans-serif; 
  font-weight: 400!important;
}
.cards-acidez-span{
  font-family: 'Open Sans', sans-serif; 
  font-weight: 300!important;
}

.p-acidez{
  border: solid 1px #ED1D24;
  width: 300px;
  height: 322px;
  padding: 3.3%;
}


.t-acidez{
  font-size: large;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #007940;
  margin-bottom: 1px!important;
}

.color-acidez{
  color: #007940;
}

.titulo-productos{
  color: #007940;
  font-size: 1.3em;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.titulo-rojo{
  color: #ED1D24;
  font-size: 1.3em;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

h6{
  font-family: 'Open Sans', sans-serif; 
  font-weight: 300!important;
  font-size: xx-small;
}


@media(max-width: 600px){
  .banner_acidez{
    padding: 1%;
  }
}


@media(max-width: 600px){
  .banner_acidez h1{
    width: 6em;
    font-size: 150%;
    padding: 5px !important;
  }
}

.h1a{
  color: white;
  background-color: #007940;
  width: 4em !important;
  padding: 5px !important;
  
}

.h1b{
  color: white;
  background-color: #007940;
  width: 8em !important;
  padding: 5px !important;
}
@media(max-width: 600px){
  .h1b{
    font-size: x-large !important;
    width: 9em!important;
  }
}
.h1c{
  color: white;
  background-color: #007940;
  width: 5em;
  font-size: 340%;
  padding: 5px !important;
}
@media(max-width: 600px){
  .h1c{
    font-size: x-large !important;
    width: 6em!important;
  }
}
.banner_acidez a{
  background-color: #ED1D24;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  padding: 6px!important;
  width: 14em;
}
@media(max-width: 600px){
  .banner_acidez a{
    width: 15em;
    font-size: 60%;
    padding: 5px !important;
  }
}


