.nombres{
  color:#007940 !important;
  font-size:medium;
  
  margin: 4px !important;
  margin-left: 4px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;

}

.navbar-bc{
  background-color: white;
}

#andrew-logo{
  width: 9em;
 
}

#gsk-logo{
  width: 2em;
  margin-left: 9%;
}
.rs{
 width: 1.3em;
 margin-right: 3%;
}

.barra-abajo{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: larger;
}


