@import url("componentes/navbar.css");
@import url("componentes/footer.css");
@import url("componentes/acidez.css");
@import url("componentes/preguntas_frecuentes.css");


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');





a:hover{
  text-decoration: none;
  }
a{
  text-decoration: none;
  color:#007940;
}

.banner{
  background-size: cover;
  padding: 20%;
  
}

h1, h2,h3,h4{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #007940;
}

/* ul>li>a:hover {
  background-color: #295da7!important;
  color: aliceblue!important;
  border-radius: 4px;
} */
.jumptarget::before {
  content:"";
  display:block;
  height:120px; 
  margin:-120px 0 0;
}
@media(max-width: 600px){
  .jumptarget::before {
    content:"";
    display:none;
    height:120px; 
    margin:-120px 0 0;
  }
}